* {
  margin: 0;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

nav {
  text-align: center;
  margin-top: -1%;
}

.nav-link {
  font-family: monospace;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.ep-release {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5%;
  margin-top: 5%;
  grid-template-areas:
    'text cover';
  align-items: center;
  justify-content: center
}

.ep-cover-top {
  width: 50%;
  margin-left: 0%;
  box-shadow: 15px 15px black;
  border: 3.5px solid black;
  grid-area: cover;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  font-family: Lato;
}

h1 {
  text-align: right;
  font-family: 'Concert One';
  text-transform: uppercase;
  font-size: 45px;
  line-height: 50px;
}

#small {
  display: none;
}

h2 {
  text-align: right;
  font-family: monospace;
  font-size: 25px;
}

.square {
  width: 10px;
  height: 10%;
  background-white;
}

.our-music {
  text-align: left;
  color: white;
  padding: 10px;
}

.latest {
  text-align: left;
  color: white;
  padding: 10px;
}

.music-title {
  background: black;
  padding-left: 10px;
  width: 35%;
  box-shadow: -18px 12px white, -15px 15px black;
  margin-bottom: 30px;
  margin-top: 10%;
}

#album-gallery {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 2%;
  margin: 5%;
  position: relative;
}

.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-covers {
  width: 100%;
  border: 3px solid black;
  opacity: 1;
}

#listen-here {
  padding: 5px 0px 5px 0px;
  width: 100%;
  height: 5%;
}

#contact {
  display: grid;
  grid-template-columns: 50% 45%;
  align-items: center;
  grid-column-gap: 5%; 
  margin-top: 10%;
}

.text-1 {
  font-family: monospace;
  padding: 5%;
  width: 100%;
  border: 3px solid black;
  box-shadow: 5px 5px black;
}

.top-form-part {
  display: grid;
  grid-template-columns: repeat(2, 20%);
  grid-column-gap: 5%;
}

textarea {
  font-family: monospace;
  padding: 2%;
  width: 60%;
  height: 65%;
  border: 3px solid black;
  box-shadow: 5px 5px black;
  margin-bottom: 4%;
}

.button {
  border: 3px solid black;
  background: white;
  font-family: monospace;
  width: 150px;
  height: 100%;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.button:hover {
  background: black;
  color: white;
}

.contact-img {
  width: 90%;
  filter: grayscale(100%);
}

#about {
  text-align: left;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin-bottom: 2%;
}

#our-trio {
  text-align: left;
}

p {
  font-family: Lato;
}

#about-card {
  width: 35%;
  border: 3px solid black;
  background: white;
  box-shadow: 15px 15px black;
  padding: 20px;
  margin-left: 80%;
  z-index: 1000;
}

.about-img {
  width: 100%;
}

footer {
  background: black;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10%;
}

.footer-grid-left {
  display: grid;
  grid-template-rows: 50% 30% 20%;
}

.invert-logo {
  width: 50%;
}

.footer-link {
  font-family: monospace;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 2%;
}

.copyright {
  font-size: 12px;
  color: gray;
  margin-left: 3%;
}

.footer-link-div {margin-top: 4%;}

.contact-h1 {text-align: left;}

#contact-h2 {text-align: left;}

.email-contact {padding-bottom: 10px;}

.footer-grid-right {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-column-gap: 1%;
  align-items: center;
}

.insta-icon {width: 50%;}
.facebook-icon {filter: invert(100%); width: 50%;}
.amazon-icon {width: 90%;}
#face-id{width: 35%;}

.empty-box {
  background: black;
  width: 100%;
}

@media (min-width: 800px) and (max-width: 1024px) and (orientation: landscape) {
  #small {
    display: block;
  }
  .img-cap h1 {
    display: none;
  }
  #about-card {
    width: 50%;
  }
}

@media (max-width: 799px) {
  #logo {
    width: 40%;
  }
  .nav-link {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ep-release {
    display: block;
  }
  h1 {
    text-align: center;
    margin: 0%;
  }
  h2 {
    text-align: center;
  }
  ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
  }
  .ep-cover-top {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  .music-title {
    background: black;
    padding-left: 10px;
    width: 80%;
    box-shadow: -18px 12px white, -15px 15px black;
    margin-bottom: 30px;
    margin-top: 10%;
  }
  #album-gallery {
    display: block;
    margin-bottom: 40%;
  }
  .album-card {display: block;}
  
  .gallery-covers {width: 60%;}
  
  #listen-here {
    width: 60%;
    height: 5%;
  }
  #about {
    display: block;
  }
  #about-card {
    width: 60%;
    position: relative;
    z-index: 2;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .about-img {
    width: 100%;
    margin-top: -120%;
    margin-bottom: 50%;
    position: relative;
    z-index: 1;
  }
  #contact {
    display: block;
  }
  .contact-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .contact-h1 {
    text-align: center;
    margin-top: 3%;
  }
  #contact-h2 {text-align: center;}
  .email-contact{text-align: center;}
  .button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  footer {
    display: block;
  }
  .footer-link {
    font-size: 10px;
    padding-right: 10px;
  }
  .footer-grid-right {
    margin-bottom: 20%;
    background: black;
  }
}

